.main-catalog {
  width: 320px;
  margin: 0 auto;
}

.main-catalog__header {
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  background-color: #f1f1f1;
  text-align: center;
  height: 177px;
  width: 320px;
  margin-top: 12px;
  margin-left: -30px;
  box-sizing: border-box;
  padding-top: 75px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 34px;
}

.catalog-list__info {
  height: 179px;
  width: 260px;
  border: 1px solid #ececec;
}

.catalog-list__info--toy {
  height: 204px;
}

.catalog-list__title {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 28px;
  text-align: left;
  width: 197px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-list__price::before {
  content: "";
  position: absolute;
  right: 57px;
  bottom: 47px;
  display: block;
  width: 204px;
  height: 1px;
  background-color: #ececec;
}

.catalog-list__title a {
  color: #000000;
}

.catalog-list__size {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  margin-top: -13px;
  margin-left: 30px;
}

.catalog-list__price {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  top: 23px;
  left: 28px;
}

.catalog-list__price--toy {
  top: 29px;
}

.catalog-list__img {
  display: block;
  margin-top: 25px;
}

.catalog-list__cart {
  display: block;
  margin-left: 212px;
  margin-top: -13px;
  margin-bottom: 62px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: 772px;
    margin: 0 auto;
  }

  .main-catalog__header {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    height: 226px;
    width: 768px;
    bottom: 15px;
    left: 29px;
    box-sizing: border-box;
    padding-top: 93px;
    z-index: -1;
  }

  .main-catalog__header::after {
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 24px;
    background-position-x: -38px;
    width: 768px;
    height: 24px;
    position: absolute;
    bottom: -9px;
    left: 0;
  }

  .catalog-list {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    margin-top: 63px;
  }

  .catalog-list__info {
    height: 335px;
    width: 334px;
    border: 1px solid #ececec;
  }


  .catalog-list__link {
    display: block;
    width: 334px;
  }

  .catalog-list__img {
    width: 334px;
    height: 334px;
    margin-top: 0;
    margin-bottom: 57px;
  }

  .catalog-list__item {
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 334px;
    margin-bottom: 56px;
  }

  .catalog-list__item:last-child {
    margin-bottom: -30px;
  }

  .catalog-list__title {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    width: 240px;
    margin-top: 23px;
  }

  .catalog-list__size {
    font-size: 15px;
    line-height: 30px;
    margin-left: 27px;
    margin-top: -16px;
  }

  .catalog-list__price {
    display: block;
    font-size: 17px;
    line-height: 24px;
    position: relative;
    left: 31px;
    top: 183px;
  }

  .catalog-list__price::before {
    content: "";
    position: absolute;
    right: 65px;
    bottom: 47px;
    display: block;
    width: 268px;
    height: 1px;
    background-color: #ececec;
  }

  .catalog-list__basket {
    position: relative;
    display: block;
    right: 70px;
    top: -2px;
  }

  .catalog-list__cart {
    position: absolute;
    display: block;
    top: 157px;
    right: -36px;
  }

  .catalog-list__price--toy {
    margin-top: -24px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    width: 1150px;
    margin: 0 auto;
    margin-top: 17px;
  }

  .main-catalog__header {
    font-size: 53px;
    line-height: 57px;
    height: 255px;
    width: 1150px;
    box-sizing: border-box;
    padding-top: 100px;
  }

  .main-catalog__header::after {
    background-repeat: repeat-x;
    background-size: 1150px 34px;
    background-position-x: -59px;
    width: 1150px;
    height: 34px;
    position: absolute;
    bottom: -21px;
    left: 0;
  }

  .catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .catalog-list__item {
    display: flex;
    height: 659px;
    flex-direction: column;
    margin-top: 29px;
  }

  .catalog-list__link {
    display: block;
    margin-top: 57px;
    margin-right: 33px;
  }

  .catalog-list__img {
    width: 316px;
    height: 462px;
    margin-bottom: 0;
  }

  .catalog-list__info {
    width: 315px;
    height: 197px;
    display: block;
    flex-direction: column;
    align-items: left;

    &:hover {
     box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
     box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog-list__title {
    display: block;
    font-size: 20px;
    line-height: 24px;
    width: 231px;
    margin-top: 21px;
  }

  .catalog-list__size {
    display: block;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-list__price {
    margin-top: 75px;
    font-size: 17px;
    line-height: 24px;
    display: block;
    top: -11px;
    left: 25px;
  }

  .catalog-list__price--toy {
    margin-top: 51px;
  }

  .catalog-list__basket {
    top: -40px;
    left: -87px;
  }

  .catalog-list__cart {
    display: block;
    top: 0;
    right: -54px;
  }
}
