.main-catalog__header {
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  background-color: #f1f1f1;
  text-align: center;
  height: 177px;
  width: 320px;
  margin-top: -5px;
  margin-left: -30px;
  box-sizing: border-box;
  padding-top: 75px;
}

.catalog-list {
  list-style: none;
}

.catalog-list__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: 70px;
  margin-left: -10px;
}

.catalog-list__title a {
  color: #000000;
}

.catalog-list__size {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  margin-top: -13px;
  margin-left: -10px;
}

.catalog-list__price {
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: 40px;
  margin-left: -10px;
}

.catalog-list__img {
  margin-top: 20px;
}
