
.production-process {
  width: 320px;
  position: relative;
  top: 10px;
}

.production-process__title {
  display: block;
  width: 126px;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  font-weight: 700;
  margin-left: 90px;
}

.production-process_video {
  fill: #63d1bb;
  position: absolute;
}

.production-process__img {
  position: relative;
  top: 15px;
}

.production-process__play {
  position: absolute;
  width: 101px;
  height: 77px;
  background-color: transparent;
  left: 240px;
  top: 1670px;
  border: 0;
  z-index: 1;
  cursor: pointer;
}

.production-process__play::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/icon-play.svg") center center no-repeat;
  width: 101px;
  height: 77px;
  z-index: 2;
}

.production-process__text {
  display: block;
  width: 183px;
  margin-top: 30px;
  margin-left: 35px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  text-align: left;
  font-weight: 400;
}

.production-process__button {
  display: block;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  font-weight: 700;
  width: 192px;
  height: 52px;
  border: solid 2px #444444;
  background-color: #ffffff;
  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 100px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 20px;
}

@media (min-width: @tablet-width) {
  .production-process {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .production-process__title {
    width: 241px;
    height: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    top: 556px;
    left: 66px;
    position: relative;
  }

  .production-process__img {
    width: 668px;
    height: 455px;
    position: relative;
    bottom: 75px;
    left: 50px;
  }

  .production-process__video {
    fill: #63d1bb;
    position: absolute;
    left: 91px;
    top: 552px;
  }

  .production-process__play {
    position: absolute;
    width: 101px;
    height: 77px;
    background-color: transparent;
    border: 0;
    z-index: 1;
    top: 174px;
    left: 135px;
    cursor: pointer;
  }

  .production-process__play::after {
    content: "";
    position: absolute;
    left: 201px;
    top: 74px;
    background: url("../img/icon-play.svg") center center no-repeat;
    z-index: 2;
  }

  .production-process__text {
    width: 581px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 108px;
    margin-left: 88px;
  }

  .production-process__button {
    display: block;
    font-size: 17px;
    line-height: 16px;
    width: 584px;
    height: 52px;
    margin: 0;
    margin-top: 31px;
    margin-left: 91px;
    padding: 20px;
    margin-bottom: 112px;
  }
}

@media (min-width: @desktop-width) {
  .production-process {
    height: 455px;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 143px;
  }

  .production-process__title {
    width: 148px;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    position: relative;
    top: 133px;
    left: 721px;
  }

  .production-process__img {
    width: 668px;
    height: 455px;
    position: relative;
    top: -20px;
  }

  .production-process__video {
    fill: #63d1bb;
    position: absolute;
    left: 813px;
    top: 77px;
  }

  .production-process__play {
    position: absolute;
    width: 101px;
    height: 77px;
    background-color: transparent;
    border: 0;
    z-index: 1;
    top: 174px;
    left: 135px;
    cursor: pointer;
  }

  .production-process__play::after {
    content: "";
    position: absolute;
    left: 201px;
    top: 74px;
    background: url("../img/icon-play.svg") center center no-repeat;
    z-index: 2;
  }

  .production-process__text {
    width: 223px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    top: 215px;
    right: 117px;
    margin: 0;
  }

  .production-process__button {
    display: block;
    width: 230px;
    height: 52px;
    margin: 0;
    padding: 15px;
    text-align: center;
    bottom: 20px;
    right: 105px;
    position: absolute;
  }
}
