.company-info {
  width: 320px;
  margin-top: 25px;
}

.company-info__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.company-info__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.company-info__feature {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  padding: 0;
}

.company-info__feature p {
  display: block;
  width: 240px;
  margin-bottom: 25px;
}

.company-info__svg {
  margin-top: 10px;
  margin-left: 5px;
  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .company-info {
    width: 772px;
  }

  .company-info__list {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .company-info__feature {
    width: 205px;
  }
}

@media (min-width: @desktop-width) {
  .company-info {
    width: 1150px;
    margin-top: 500px;
  }

  .company-info__list {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  .company-info__feature {
    width: 248px;
    margin-right: 10px;
  }
}
