.company-info {
  width: 320px;
  margin-top: 25px;
}

.company-info__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.company-info__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.company-info__feature {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  padding: 0;
}

.company-info__feature p {
  display: block;
  width: 240px;
  margin-bottom: 25px;
}

.company-info__svg {
  margin-top: 10px;
  margin-left: 5px;
  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .company-info {
    width: 768px;
    margin-left: 50px;
  }

  .company-info__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 45px;
  }

  .company-info__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .company-info__list {
    width: 332px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  .company-info__feature {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 14px;
    display: block;
  }

  .company-info__svg {
    margin-top: 49px;
  }

  .company-info__feature p {
    margin-top: 16px;
    margin-left: 2px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .company-info__feature--flower p {
    width: 205px;
  }

  .company-info__feature--2 p {
    width: 295px;
  }
}

@media (min-width: @desktop-width) {
  .company-info {
    width: 1150px;
    margin-top: 188px;
    margin-left: 226px;
  }

  .company-info__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 0;
    margin-top: 54px;
    margin-left: -6px;
  }

  .company-info__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .company-info__list {
    width: 50%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  .company-info__list--2 {
    margin-left: -225px;
  }

  .company-info__feature {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 14px;
    display: block;
  }
}
