.contact {
  margin-top: 114px;
}

.contact__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.contact__table {
  display: table;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  border-spacing: 28px;
  margin-left: -27px;
  margin-top: -17px;
}

.contact__table tbody {
  text-align: left;
  vertical-align: top;
}

.contact__row--address {
  padding-right: 36px;
}

.contact__map {
  width: 322px;
  height: 457px;
}

.contact__button {
  display: block;
  width: 260px;
  height: 52px;
  border: solid 2px #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-top: 39px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 15px;
  margin-bottom: 42px;
}

.contact__row-email {
  text-decoration: underline;
  text-decoration-color: #46c1ae;
}

@media (min-width: @tablet-width) {
  .contact {
    width: 768px;
    position: relative;
    top: 100px;
  }

  .contact__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 61px;
    margin-bottom: 0;
    margin-left: 43px;
  }

  .contact__title::after {
    content: "";
    display: block;
    background-image: url("../img/icon-flag.svg");
    width: 47px;
    height: 81px;
    position: absolute;
    right: 53px;
    top: -15px;
  }

  .contact__table tbody {
    display: flex;
  }

  .contact__table {
    font-size: 17px;
    border-spacing: 25px;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .contact__row-email:hover {
    text-decoration: underline;
    text-decoration-color: #46c1ae;
    color: #46c1ae;
  }

  .contact__row-email:active {
    text-decoration: underline;
    text-decoration-color: rgba(70, 193, 174, 0.1);
    color: rgba(70, 193, 174, 0.3);
  }

  .contact_address {
    vertical-align: top;
  }

  .contact__map {
    width: 768px;
    height: 457px;
  }

  .contact__button {
    display: flex;
    width: 230px;
    height: 52px;
    border: solid 2px #444444;
    font-size: 17px;
    line-height: 20px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 156px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    width: 1050px;
    position: relative;
    left: 170px;
    top: 111px;
  }

  .contact__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 78px;
  }

  .contact__title::after {
    position: absolute;
    left: -61px;
    top: 71px;
  }


  .contact__table tbody {
    display: table;
  }

  .contact__table {
    font-size: 17px;
    border-spacing: 25px;
    padding: 0;
    text-align: left;
    margin-bottom: -22px;
  }

  .contact__row-text {
    width: 219px;
  }

  .contact__map {
    position: absolute;
    width: 525px;
    height: 457px;
    display: block;
    top: 4px;
    right: 125px;
  }

  .contact__button {
    margin-left: 51px;
    margin-bottom: -41px;
    margin-top: 56px;
  }
}
