.handwork {
  width: 100%;
  margin: 0 auto;
  margin-top: -7px;
  padding: 0;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-color: #f9f9f9;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 562px auto;
  }
}

.handwork__title {
  display: block;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #010000;
  box-sizing: border-box;
  padding-top: 71px;
  text-align: center;
}

.handwork__list {
  margin-top: 124px;
  list-style: none;
  padding: 0;
  width: 320px;
  margin-left: -31px;
}

.handwork__link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  height: 103px;
  margin: 0;
}

.handwork__link p {
  width: 103px;
  margin: 0;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 22px;
}

.handwork__link--interior {
  background-color: #63d1bb;
}

.handwork__link--toy {
  background-color: #56c3b2;
}

.handwork__link--interior::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  background: url("../img/icon-interior.svg") center center no-repeat;
  width: 40px;
  height: 62px;
  left: 246px;
  top: 19px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.handwork__link--toy::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  background: url("../img/icon-toy.svg") center center no-repeat;
  width: 60px;
  height: 60px;
  left: 237px;
  top: 19px;
}

@media (max-width: @tablet-width - 1px) {
  .handwork {
    position: relative;

    &::before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 355px;
      background-color: #f9f9f9;
      z-index: -1;
    }
  }
}

@media (min-width: @tablet-width) {
  .handwork {
    position: relative;
    margin: 0 auto;
    bottom: 36px;
    padding: 0;
    width: 100%;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    background-position: center -26px;
    z-index: initial;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1193px auto;
    }
  }

  .handwork::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 24px;
    background-position-x: -38px;
    height: 24px;
    width: 100%;
    bottom: -8px;
    z-index: 1;
  }

  .handwork::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    z-index: -1;
  }

  .handwork__title {
    width: 669px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 155px;
  }

  .handwork__title br {
    display: none;
  }

  .handwork__list {
    width: 772px;
    display: flex;
    margin-top: 369px;
    margin-left: 0;
  }

  .handwork__unit {
    display: block;
    width: 334px;
    margin: 0;
    padding: 0;
    z-index: 0;
  }

  .handwork__link {
    height: 121px;
    z-index: 1;
  }

  .handwork__link:hover {
    height: 126px;
    margin-top: -5px;
  }

  .handwork__link--interior:hover::before,
  .handwork__link--toy:hover::before {
    opacity: 0.7;
  }

  .handwork__link--interior:active::before,
  .handwork__link--toy:active::before {
    opacity: 0.3;
  }

  .handwork__link:active {
    height: 126px;
    margin-top: -5px;
  }

  .handwork__link p {
    font-size: 20px;
    line-height: 30px;
    width: 111px;
    display: block;
    box-sizing: border-box;
    padding-top: 29px;
    padding-left: 33px;
    padding-bottom: 23px;
  }

  .handwork__link p:active {
    opacity: 0.3;
  }

  .handwork__link--interior::before {
    top: 28px;
    left: 255px;
  }

  .handwork__link--toy::before {
    top: 28px;
    left: 239px;
  }
}

@media (min-width: @desktop-width) {
  .handwork {
    display: block;
    width: 100%;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -3px;
    bottom: 35px;
    z-index: initial;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1188px auto;
    }
  }

  .handwork__title {
    font-size: 53px;
    margin: 46px auto 0;
    line-height: 1;
  }

  .handwork::after {
    background-size: auto 36px;
    background-position-x: 50%;
  }

  .handwork__list {
    width: 1050px;
    display: flex;
    margin-top: 362px;
  }

  .handwork__unit {
    display: block;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    height: 119px;
    justify-content: space-between;
    z-index: 0;
  }

  .handwork__link {
    margin: 0;
  }

  .handwork__link:hover {
    height: 126px;
    margin-top: -5px;
  }

  .handwork__link:active {
    height: 126px;
    margin-top: -5px;
  }

  .handwork__link p {
    padding-top: 27px;
    padding-left: 35px;
  }

  .handwork__link--interior::before {
    top: 30px;
    left: 450px;
  }

  .handwork__link--toy::before {
    top: 30px;
    left: 431px;
  }
}
