.handwork__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.handwork__subtitle {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
