.main-header {
  background-color: #ffffff;
}

.main-header__logo {
  display: block;
  background-color: #ffffff;
  margin-left: 87px;
  margin-top: 26px;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    margin-left: 47px;
  }

  .main-header__logo-icon {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    height: 73px;
  }

  .main-header__logo {
    margin: 0 auto;
    margin-top: 8px;
    display: block;
  }

  .main-header__logo-icon {
    width: 149px;
    height: 72px;
  }
}
