.main-navigation {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-navigation__list {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 50px;
  margin-left: -30px;
}

.main-navigation__svg {
  position: absolute;
  left: -20px;
  opacity: 0.3;
  margin-left: 20px;
}

.site-list-2 {
  display: none;
}

.main-navigation__delivery {
  display: none;
}

.main-navigation__option {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: 320px;
  height: 79px;
  border: 1px solid #ececec;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
}

.main-navigation__toggle {
  position: absolute;
  top: -25px;
  left: 220px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: pointer;
  border: none;
  z-index: 2;
}


.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -25px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  cursor: pointer;
}


@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-navigation {
    width: auto;
    margin: 0;
  }

  .site-list {
    display: flex;
    justify-content: flex-start;
  }

  .user-list {
    display: flex;
    justify-content: flex-end;
    margin-top: -113px;
  }

  .main-navigation__option {
    display: block;
    width: 320px;
    height: 79px;
  }

  .main-navigation__delivery {
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: flex-start;
    margin-top: -74px;
  }

  .user-list {
    display: flex;
    justify-content: flex-end;
    margin-top: -52px;
  }
}
