.main-navigation {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-navigation__list {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 50px;
  margin-left: -30px;
}

.main-navigation__svg {
  position: absolute;
  left: -20px;
  opacity: 0.3;
  margin-left: 20px;
}

.main-navigation__hide-list {
  display: none;
}

.main-navigation__delivery {
  display: none;
}

.main-navigation__option {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: 320px;
  height: 79px;
  border-bottom: 1px solid #ececec;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
  vertical-align: middle;
}

.main-navigation__user-item--cart {
  border-bottom: 0;
}

.link:hover .main-navigation__user-svg {
  fill: #63d1bb;
  opacity: 1;
}

.link:active .main-navigation__user-svg {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-navigation__user-svg :active {
  fill: #63d1bb;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .main-navigation__close {
    display: none;
    background-color: transparent;
    position: absolute;
    top: -44px;
    right: 59px;
    width: 18px;
    height: 17px;
    border: 0;
    cursor: pointer;
  }

  .main-navigation__close::before,
  .main-navigation__close::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -10px;
    width: 17px;
    height: 3px;
    background-color: #000000;
  }

  .main-navigation__close::before {
    transform: rotate(45deg);
  }

  .main-navigation__close::after {
    transform: rotate(-45deg);
  }

  .no-js .main-navigation__toggle {
    display: none;
  }

  .no-js .main-navigation__list {
    display: block;
  }

  .menu-active .main-navigation__toggle {
    display: none;
  }

  .menu-active .main-navigation__close {
    display: block;
  }

  .menu-active .main-navigation__list {
    display: block;
  }

  .main-navigation__user-svg--loupe {
    width: 18px;
    height: 18px;
    top: 206px;
  }

  .main-navigation__user-svg--cart {
    width: 21px;
    height: 18px;
    top: 286px;
  }

  .main-navigation__toggle {
    position: absolute;
    top: -31px;
    left: 238px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .main-navigation--closed .main-navigation__toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .main-navigation {
    width: 772px;
    height: 10px;
    margin: 0 auto;
    margin-top: -12px;
    z-index: 1;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__close {
    display: none;
  }

  .main-navigation__option {
    border: 0;
  }

  .main-navigation__site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -34px;
    margin-top: 19px;
  }

  .main-navigation__site-item {
    width: 140px;
    height: 15px;
    font-size: 15px;
    line-height: 24px;
    display: block;
    border: 0;
    padding: 0;
    margin-left: 30px;
    margin-top: 26px;
  }

  .main-navigation__user-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    bottom: 131px;
    right: 52px;
  }

  .main-navigation__user-item--search {
    width: 82px;
    height: 88px;
    border-left: 1px solid #ececec;
    border-bottom: 0;
  }

  .main-navigation__user-item--cart {
    height: 88px;
    width: 316px;
    border-left: 1px solid #ececec;
  }

  .main-navigation__user-svg--loupe {
    left: 414px;
  }

  .main-navigation__user-svg--cart {
    left: 496px;
  }

  .main-navigation__user-svg {
    position: absolute;
    top: 36px;
  }

  .main-navigation__user-item--search p {
    display: none;
  }

  .main-navigation__user-item--cart p {
    display: block;
    margin-left: 31px;
    margin-top: 1px;
  }

  .main-navigation__delivery {
    position: absolute;
    right: 103px;
    top: 11px;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    display: flex;
    width: 1150px;
    margin-top: 10px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__site-list {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -86px;
    margin-left: -35px;
  }

  .main-navigation__site-item {
    font-size: 17px;
    line-height: 24px;
    display: block;
    border: 0;
    padding-top: 30px;
    padding-right: -22px;
    padding-left: 7px;
    margin-top: -6px;
    width: 222px;
    height: 88px;
    margin-left: -3px;
  }

  .main-navigation__site-item--catalog {
    border-right: 1px solid #ececec;
  }

  .main-navigation__user-list {
    position: relative;
    display: flex;
    left: 316px;
    bottom: 91px;
  }

  .main-navigation__user-svg--loupe {
    left: 11px;
  }

  .main-navigation__user-svg--cart {
    left: 95px;
  }

  .main-navigation__user-svg__svg {
    position: absolute;
    top: 36px;
  }

  .main-navigation__hide-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: -52px;
    z-index: 1;
    flex-wrap: wrap;
    padding-right: 380px;
  }

  .main-navigation__hide-item {
    width: 186px;
    font-size: 15px;
    line-height: 24px;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .main-navigation__delivery {
    position: absolute;
    right: 101px;
    top: 0;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    z-index: 1;
  }
}
