
body {
  background-size: 720px auto;
  min-height: 750px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
}


@media (min-width: @tablet-width) {
  body {
    background-size: 1178px auto;
  }

  .container {
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  body {
    background-size: 1391px auto;
  }

  .container {
    width: 1050px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 260px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
